* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 11px 270px 24px 250px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  cursor: pointer;
}
.header__link-home {
  padding-right: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #676770;
}
.header__link-home:hover {
  color: #0082F3;
}
.header__link-Contact {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #676770;
}
.header__link-Contact:hover {
  color: #0082F3;
}

.home {
  padding: 184px 0 200px;
  background: url("../images/home.png");
  max-width: 100%;
  width: 1440px;
}
.home__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 117px;
}
.home__btns {
  padding-left: 500px;
  padding-right: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.home__btn-nonactiv {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background: transparent;
  padding: 10px 32px 13px;
}
.home__btn-nonactiv:hover {
  background: #69B9FF;
}

.what {
  padding: 77px 0 103px;
  text-align: center;
}
.what__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}
.what__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
  padding: 17px 0 98px;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-right: 250px;
  padding-left: 250px;
  padding-bottom: 80px;
}
.what__card {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #DCEBF7;
  border-radius: 5px;
  height: 291px;
}
.what__card-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
}
.what__card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #6A859C;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service {
  padding: 77px 265px 96px 265px;
  text-align: center;
  background: #192024;
  max-width: 100%;
  width: 1440px;
}
.service__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 77px 635px 17px 635px;
}
.service__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #E8E8E8;
  padding: 17px 0 77px;
}
.service__card-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 0 23px;
}
.service__card-subtitle {
  padding-bottom: 17px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.service__row {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  padding: 96px 0;
}
.map__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 70px;
}

.tab {
  padding: 77px 0 90px;
  text-align: center;
}
.tab__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}
.tab__subtitle {
  padding: 17px 0 73px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
}
.tab__btn {
  width: 196px;
  height: 21px;
  background: #92A0AD;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.tab__btn:hover {
  background: #69B9FF;
}
.tab__img {
  padding: 52px 0 16px;
}
.tab__subtitle2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #6A859C;
}

.footer {
  padding-top: 123px;
  padding-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #676770;
  padding-bottom: 21px;
}
.footer__info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6A859C;
  padding-top: 25px;
}
.footer__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #668CAD;
  padding-bottom: 17px;
}

.footer__desc-link {
  row-gap: 17px;
}

.footer__desc-card3 {
  padding-left: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom {
  width: 1440px;
  height: 101px;
  max-width: 100%;
  background: #383838;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #9E9E9E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 40px;
}